@mixin wid-hig($width) {
  width: $width;
  height: 35px;
}


form {
    text-align: center;
    .sub-form {
      padding: 30px;
      input {
        @include wid-hig(300px)
      }

      .btn {
        @include wid-hig(100px)
      }
    }
    .crud {
        width: 35%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;

        .q {
          border: 2px solid black;
          background-color: white;
          color: black;
          padding: 8px 18px;
          font-size: 16px;
          cursor: pointer;  
        }
        
        div:hover, div:focus {
          background-color: #04AA6D;
          color: white;
        }

    }
}

.on-click {
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;  
  border: 2px solid black;
  background-color: #04AA6D;
  color: white;
}
  
