$backG-color: rgba(128, 128, 128, 0.479);

.section-data {
  min-height: 100vh;
}
.output {
    padding: 30px;
    min-height: 100vh;
    background-color: $backG-color;
    border: 3px solid black;

  }
