$backG-color: rgba(128, 128, 128, 0.479);

.section-data {
  min-height: 100vh;
}
.output {
    padding: 30px;
    min-height: 100vh;
    background-color: $backG-color;
    border: 3px solid black;

  }

  .loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #606466;
    width: 150px;
    height: 130px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  